* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.contenedor-principal {
  overflow: hidden;
}

.contenedor-header {
  background-image: url("../images/bg-hero-desktop.svg");
  background-size: cover;
  max-width: 100%;
  height: 70rem;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
.navbar img {
  height: 3rem;
}
.navbar a {
  font-size: 1.5rem;
  color: #000;
  padding: 1rem 1rem;
  font-weight: 600;
}

.btn {
  background-color: white;
  border: white solid 0px;
  width: 20rem;
  border-radius: 100px;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 800ms;
}

.btn:hover {
  background-color: whitesmoke;
  transition: all 800ms;
  color: #000;
}

.contenedor-cuerpo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  padding: 2rem 10rem;
  gap: 5rem;
  overflow: hidden;
}

.contenedor-texto-header h1 {
  font-weight: 600;
  font-size: 4rem;
  text-align: start;
  width: 50rem;
  margin-bottom: 2.5rem;
  line-height: 6rem;
}
.contenedor-texto-header p {
  font-size: 2rem;
}
.contenedor-texto-header a {
  font-size: 2rem;
}

.img-header img {
  height: 50rem;
}

.btn1, .btn2 {
  background-color: hsl(322deg, 100%, 66%);
  border: hsl(322deg, 100%, 66%);
  border-radius: 100px;
  width: 30rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.btn1:hover, .btn2:hover {
  background-color: hsla(322deg, 100%, 66%, 0.753);
  color: whitesmoke;
}

.contenedor-main {
  overflow: hidden;
}

.contenedor-1, .contenedor-3, .contenedor-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15rem;
  margin: 15rem 5rem;
  padding: 8rem 8rem;
  border: solid white 0.3rem;
  box-shadow: 0.3rem 0.3rem 1rem hsl(208deg, 11%, 55%);
  border-radius: 2rem;
}

.texto-contenedor1, .texto-contenedor3, .texto-contenedor2 {
  display: flex;
  flex-direction: column;
}
.texto-contenedor1 h2, .texto-contenedor3 h2, .texto-contenedor2 h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.texto-contenedor1 p, .texto-contenedor3 p, .texto-contenedor2 p {
  font-size: 2.2rem;
  width: 60rem;
  color: hsl(208deg, 11%, 55%);
}

.img-contenedor1 img, .img-contenedor3 img, .img-contenedor2 img {
  height: 30rem;
}

.contenedor-2 {
  flex-direction: row-reverse;
  margin-top: -10rem;
}

.contenedor-3 {
  margin-top: -10rem;
}

.comunidad {
  display: flex;
  justify-content: center;
}

.texto-comunidad {
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: white;
  padding: 6rem 12rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1rem hsl(240deg, 4%, 5%);
  width: 70rem;
  z-index: 1;
}
.texto-comunidad h2 {
  font-size: 3rem;
  font-weight: 700;
}

.btn2 {
  font-size: 2rem;
  padding: 1rem 2rem;
  z-index: 1;
}

.contenedor-footer {
  background-color: hsl(192deg, 100%, 9%);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.datos-empresa {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 13rem 5rem;
}

.logo {
  filter: brightness(4);
}
.logo img {
  height: 3rem;
}

.location, .email, .tel {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.location img, .email img, .tel img {
  height: 2rem;
}
.location p, .email p, .tel p {
  font-size: 1.4rem;
  color: wheat;
  width: 40rem;
}

.links-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin-right: 18rem;
}
.links-footer ul li {
  list-style-type: none;
  color: wheat;
  font-size: 1.5rem;
  line-height: 3rem;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 21rem;
}

.redes-sociales img {
  height: 2rem;
  filter: invert(1);
  margin-right: 2rem;
}

.derechos {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.derechos img {
  height: 1.3rem;
  filter: invert(1);
}
.derechos p {
  color: wheat;
}

/*MEDIAQUERIES*/
@media (max-width: 875px) and (min-width: 375px) {
  .contenedor-header {
    background-image: url("../images/bg-hero-mobile.svg");
    background-size: cover;
    max-width: 100%;
    height: 70rem;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  .navbar img {
    height: 2rem;
  }
  .navbar a {
    font-size: 1.2rem;
    color: #000;
    padding: 1rem 1rem;
    font-weight: 600;
  }
  .btn {
    background-color: white;
    border: white solid 0px;
    width: 10rem;
    border-radius: 100px;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    transition: all 800ms;
  }
  .contenedor-cuerpo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    overflow: hidden;
  }
  .contenedor-texto-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor-texto-header h1 {
    font-weight: 600;
    font-size: 2rem;
    width: 25rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;
    text-align: center;
  }
  .contenedor-texto-header p {
    font-size: 1.4rem;
    text-align: center;
  }
  .contenedor-texto-header a {
    font-size: 1.2rem;
  }
  .btn1, .btn2 {
    background-color: hsl(322deg, 100%, 66%);
    border: hsl(322deg, 100%, 66%);
    border-radius: 100px;
    width: 20rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
  .img-header {
    display: flex;
    justify-content: center;
  }
  .img-header img {
    height: 20rem;
  }
  .contenedor-main {
    overflow: hidden;
  }
  .contenedor-1, .contenedor-2, .contenedor-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column-reverse;
    margin: 5rem 3rem;
    gap: 5rem;
    border: solid white 0.3rem;
    box-shadow: 0.3rem 0.3rem 1rem hsl(208deg, 11%, 55%);
    border-radius: 2rem;
    height: auto;
  }
  .texto-contenedor1, .texto-contenedor2, .texto-contenedor3 {
    display: flex;
    flex-direction: column;
  }
  .texto-contenedor1 h2, .texto-contenedor2 h2, .texto-contenedor3 h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .texto-contenedor1 p, .texto-contenedor2 p, .texto-contenedor3 p {
    font-size: 1rem;
    width: 20rem;
    color: hsl(208deg, 11%, 55%);
    text-align: center;
  }
  .img-contenedor1 img, .img-contenedor2 img, .img-contenedor3 img {
    height: 20rem;
  }
  .comunidad {
    display: flex;
    justify-content: center;
  }
  .texto-comunidad {
    position: relative;
    top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem hsl(240deg, 4%, 5%);
    z-index: 1;
    width: 35rem;
    padding: 4rem 2rem;
  }
  .texto-comunidad h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .btn2 {
    font-size: 1.4rem;
    padding: 1rem 1rem;
    z-index: 1;
  }
  .contenedor-footer {
    background-color: hsl(192deg, 100%, 9%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .datos-empresa {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 13rem 2rem;
    margin-bottom: -9rem;
  }
  .links-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
  }
  .links-footer ul li {
    list-style-type: none;
    color: wheat;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .redes {
    display: flex;
    align-content: center;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: -19rem;
  }
  .derechos {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
